.post{
    width:100%;
       border-radius: 10px;
/* -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.58); 
box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.58); */
margin:30px 0;
}
.postWrapper{
    padding: 10px;
 
}
.postTop{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
   
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername{
font-size:  14px;
font-weight: 500;
margin: 0 10px;
}
.postDate{
  font-size:  12px;
}
.postCenter{
    margin: 20px 0; 
}
.postImg{
 margin-top: 20px;   
 width: 100%;
 max-height: 500px;
 object-fit: contain;
}
.postBottom{
   display: flex;
    align-items: center;
    justify-content:space-between; 
}
.postBottomLeft{
       display: flex;
    align-items: center;
    margin: 0 10px;
}
.likeIcon{
width: 25px;
height: 25px;
margin-right: 5px;
cursor: pointer;
}
.postLikeCounter{
    font-size: 15px;
}
.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed rgb(80, 93, 84);
    font-size: 15px;
}
  .listOfComments{
    padding-left: 0.5rem;
        display: block;
        width: auto;
        margin: auto;
        height: auto;
        /* box-shadow: 0px 0px 13px rgb(172, 160, 160);
        background-color: rgb(231, 220, 220); */
        outline: none;
        transition: .3s;
        border: 0.5px solid rgb(185, 181, 181);
    
} 
.white {
    color: rgb(23, 0, 151);    
    cursor: pointer;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    transition: .3s;
    background-color: none;
}
.red {
    color: crimson;
}
.green  {
    color: chartreuse;
}
.card {
    width: 45rem;
    overflow: hidden;
    margin: 2rem auto;

    border-radius: 5px;
  
    background-color: #f4f4f4;
}
/* .card-username__info {
    margin-top: 0.4rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}
.created-at {
    color: #d83535;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.card-username__info div {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
}
.detail {
    padding: 0 0.5rem;
}
.detail h3 {
    color: rgb(23, 36, 221);
}
.card-username__info div img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.card-image__post {
    height: auto;
    width: 45rem;
    overflow: hidden;
}
.card-image__post img {
    width: 45rem;
    object-fit: cover;
    height: inherit;
}

.card-reaction span {
    padding: 0 2rem;
}
.card-reaction span i {
    cursor: pointer;
}
.card-reaction span {
    color: rgb(51, 20, 160);
}

.comment-list{
    transition: 2s;
}

.btn-comment{
    margin: .5rem auto;
    padding: .4rem 1rem;
    background-color: rgb(181, 219, 241);
    box-shadow: 0px 0px 10px black;
    transition: .3s;
}
.btn-comment:hover{
    background-color: rgb(0, 255, 34);
}
.fa-thumbs-up {
    color: rgb(11, 248, 11);
}
.fa-thumbs-down {
    color: crimson;
}
.username {
    color: #b8a2a2;
}
.actions__container{
    overflow: visible !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
    cursor: pointer;
}
.post-null {
    margin-top: 2rem;
    color: #CA4F6E !important;
    font-size: 3rem;
    text-transform: uppercase;
}
.post-null-add {
    color: #CA4F6E !important;
    font-size: 2.5rem;
    margin-top: 3rem;
    text-decoration: underline;
}
.post-null-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    
}
#username-comment {
    justify-content: flex-start;
    padding: 0;
    height: 50px;
}
.comments-list {
    padding: 0;
    margin: 0;
}
.comments-list li {
    border: 0.5px solid gray;
}
#comment-right {
    overflow: unset;
    width: 85%;
    margin-left: 0.5rem;
}
#comment-right p {
    font-size: 0.6rem;
    margin-bottom: 0.05rem;
    color: rgb(206, 126, 21);
}
#comment-right h3 {
    font-size: 0.95rem;
}
#comment-left {
    margin-left: 0.5rem;
    width: 30px;
    height: 30px;
}

.card-input {
    background-color: #d0d1d8 !important;
    padding: .3rem;
    transition: .3s;
}

.add-input:focus{
    background-color: #86af9c !important;
    transform: scale(1.15) !important;
    color: rgb(172, 139, 97) !important;
    outline: none;
}
.card-input:focus{
    background-color: #85083c !important;
    transform: scale(1.15) !important;
    color: rgb(126, 148, 180) !important;
}
@keyframes borderAnimation {
    from {
       border: 1px solid #8c8da0;
    }
    50%{
      border: 1px solid #80809b; 
    }
    to{
        border:  1px solid #8e8c99;
    }
}
*/
@media screen and (max-width: 800px) {
    .topbarLeft img  {
       display:none;
    }
    .card {
        width:auto;
    }
    
} 
#comm{
    display: block;
    text-align: center;
    min-width: -webkit-fill-available;
    margin: auto;
    height: 40px;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}
/* .postsAdmin{
    background-color:#b8a2a2;
    display: flex;
    flex-flow:wrap;
} */